{% extends "layout.html" %}
{% block navbar %}
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/userguide">How to Use the Calculator</a></li> 
  <li><a href="/assumptions" class="active">Assumptions</a></li>
  <li><a href="/calculator">Calculator</a></li>
</ul>
{% endblock%}
{% block title %}Assumptions{% endblock %}
{% block content %}
<strong><div style="color:#41afdf"> Our Assumptions:</div></strong>
<br>
<div style="color:#41afdf">Infrastructural/Construction-based:</div>
Infrastructure costs will be specifically from construction. Assume construction costs for each source per kW of power remains the same as the EIA data based on mean values for the US (from 2008 for coal, 2016 for all others).
<br>
Assume new infrastructure is constructed based on projected increase in production for Texas each year, with sources changing power output based on the percent distribution of the sources that year.


<br>
<div style="color:#41afdf">Winterization:</div>
-Assume winterized NG and regular NG have the same emissions per MWh and generative costs.
<br>
-We do not take into account the possibility of winterization increasing reliability (outside of that for natural gas) or technology that may improve reliability after 2021
<br>
-Assume that all of the NG infrastructure for El Paso Electric is winterized, and none is winterized in the ERCOT grid starting in 2021 where the current rate of increase is zero (unless the user specifies otherwise).
<br>
-Winterized natural gas (WNG) will be modeled separately from current conventional natural gas (NG).
<br>
<div style="color:#41afdf">Production/Grid-Based:</div>
-Future grid failures will have similar grid-level effects to the one in February 2021.
<br>
-NG will be taken as the difference between 100% and all other sources (used as a “slack”)
<br>
-Annual energy production and use in Texas is assumed to increase linearly.
<br>
-% distribution of sources is constant from 2019 to 2021.
<br>
-Assume zero carbon emissions for nuclear, wind, & solar, despite small (<1/100 order of magnitude compared to fossil fuel) emissions with these sources.
<br>
Assume that the production distribution, mean maintenance costs and consumer price are the same year-round despite higher reliance on NG in winter
<br>
{% endblock %}
