{% extends "layout.html" %}
{% block script%}
<script>
function addFields(){
    if (document.getElementById("start").value < 2021) {alert("Sorry! That's an invalid start year. Pich a year after 2020, like 2021");location.reload();}
    let startYear = document.getElementById("start").value; 
    if (document.getElementById("end").value <= document.getElementById("start").value) {alert("Sorry! That's an invalid end year. Pick a year after the start year you've entered.");location.reload();}
    let endYear = document.getElementById("end").value;
    if(document.getElementById("fields").children.length !== 5) alert("Note that if you've entered some data already, it's going to reset to the default values.");
    
    document.getElementById("fields").innerHTML = '<label for="quantity" style="color:#41afdf">Start Year (Minimum of 2021):</label><input type="number" id="start" name="start" min="2021" value = "2021"><label for="quantity" style="color:#41afdf">End Year (Minimum of 2022, must be a year that comes after the start year):</label><input type="number" id="end" name="end" min="2022" value = "2022"><button onclick="addFields()">Get Fields for the Percent Distributions by Year for Each Year</button>';
    for (let i = startYear; i <= endYear; ++i){
         document.getElementById("fields").innerHTML += '<label style="color:#41afdf">' + i + '</label><br>'
        document.getElementById("fields").innerHTML += '<label for="quantity"> Percent Natural Gas (0-100 %) for ' + i + '</label> <input type = "number" id ="ng'+ i +'" name = "ng' + i +'min="0" max = "100" step="any" value= "53.6">';
        document.getElementById("fields").innerHTML += '<label for="quantity"> Winterized Natural Gas for ' + i + '</label> <input type = "number" id ="wing'+ i +'" name = "wing' +i + 'min="0" max = "100" step="any" value= "0">';
        document.getElementById("fields").innerHTML += '<label for="quantity"> Coal for ' + i + '</label> <input type = "number" id ="c'+ i +'" name = "c' +i + 'min="0" max = "100" step="any" value= "19.3">';
        document.getElementById("fields").innerHTML += '<label for="quantity"> Solar for ' + i + '</label> <input type = "number" id ="so'+ i +'" name = "so' + i + 'min="0" max = "100" step="any" value= "0.9">';
        document.getElementById("fields").innerHTML += '<label for="quantity"> Wind for ' + i + '</label> <input type = "number" id ="wi'+ i +'" name = "wi' + i + 'min="0" max = "100" step="any" value= "17.5">';
        document.getElementById("fields").innerHTML += '<label for="quantity"> Nuclear for ' + i + '</label> <input type = "number" id ="n'+ i +'" name = "n' + i + 'min="0" max = "100" step="any" value= "8.7">';
        document.getElementById("fields").innerHTML+='<br><br>';
    }
    document.getElementById("fields").innerHTML += ' <input type="submit" id = "sub" value="Submit">';
}                             
</script>
{% endblock %}
{% block navbar %}
   <ul>
  <li><a href="/">Home</a></li>  
    <li><a href="/userguide">How to Use the Calculator</a></li> 
  <li><a href="/calculator">Calculator</a></li>    
    <li><a href="/calculatorver2" class = "active">Calculator, Alternate Version</a></li>        
</ul>
{% endblock%}
{% block title %}Calculator{% endblock %}
{% block content %}

  

<form action="/calculatorver2" method="post">
<div id = "fields">
<label for="quantity" style="color:#41afdf">Start Year (Minimum of 2021):</label>
  <input type="number" id="start" name="start" min="2021" value = "2021">
  <label for="quantity" style="color:#41afdf">End Year (Minimum of 2022, must be a year that comes after the start year):</label>
  <input type="number" id="end" name="end" min="2022" value = "2022">
    <button onclick="addFields()">Get Fields for the Percent Distributions by Year for Each Year</button>
</div>
</form>
{% endblock %}
