{% extends "layout.html" %}
{% block navbar %}
   <ul>
  <li><a href="/">Home</a></li>  
    <li><a href="/userguide">How to Use the Calculator</a></li> 
  <li><a href="/calculator" class = "active">Calculator</a></li>   
</ul>
{% endblock%}
{% block script %}
<script>
// Sets up the user input for scenario 1 (linear renewable growth) according to our methodology and submits for the user so they can see the graphs that are associated with our first scenario
function scenario1(){
     // get the form so we can autosubmit
    let form = document.getElementById("form");
    document.getElementById("wd").value = 1.5;
    document.getElementById("sod").value = 1.5;
    form.submit();
}
// Sets up the user input for scenario 2 (quadratic renewable growth) according to our methodology and submits for the user so they can see the graphs that are associated with our second scenario
function scenario2(){
    // get the form so we can autosubmit
    let form = document.getElementById("form");
    // change the first derivative values to be an increase of 1.5% per year
    document.getElementById("wd").value = 1.5;
    document.getElementById("sod").value = 1.5;
    // change the second derivative values to be an increase of 0.5% per year^2
    document.getElementById("wd2").value = 0.5;
    document.getElementById("sod2").value = 0.5;
    form.submit();
}
// Sets up the user input for scenario 3 (extensive winterized natural gas growth) according to our methodology and submits for the user so they can see the graphs that are associated with our second scenario
function scenario3(){
    // get the form so we can autosubmit
    let form = document.getElementById("form");
    // change the first derivative value of winterized natural gas to be an increase of 1.5% per year and keep wind/solar production constant.
    document.getElementById("wd").value = 0;
    document.getElementById("sod").value = 0;
    document.getElementById("wid").value = 1.5;
    // change the second derivative value for winterized natural gas to be an increase of 0.5% per year^2
    document.getElementById("wid2").value = 0.5;
    form.submit();
}
</script>
{% endblock%}
{% block title %}Calculator{% endblock %}
{% block content %}
<button onclick="scenario1()">Scenario 1: Current Trends</button>
<button onclick="scenario2()">Scenario 2: Quadratic Growth of Renewable Energy</button>
<button onclick="scenario3()">Scenario 3: Increased Prevalence of Winterized Natural Gas</button>
<form action="/calculator" method="post" id = "form">
  <label for="quantity" style="color:#41afdf">Start Year (Minimum of 2021):</label>
  <input type="number" id="start" name="start" min="2021" value = "2021" required>
  <br>
  <label for="quantity" style="color:#41afdf">End Year (Minimum of 2022, must be a year that comes after the start year):</label>
  <input type="number" id="end" name="end" min="2022" value = "2022" required>
  <br>
  <label style="color:#41afdf">Initial Percent of Electricity Generated from Each Source (0-100%):</label>
 <br>
  <label for="quantity">Natural Gas</label>
  <input type="number" id="nginit" name="nginit" min="0" max = "100" step="any" value= "53.6" required>
  <label for="quantity">Winterized Natural Gas</label>
  <input type="number" id="winginit" name="winginit" min="0" max = "100" step="any" value= "0" required>
  <label for="quantity">Coal</label>
  <input type="number" id="cinit" name="cinit" min="0" max = "100" step="any" value= "19.3" required>   
  <label for="quantity">Solar</label>
  <input type="number" id="soinit" name="soinit" min="0" max = "100" step="any" value= "0.9" required>
  <label for="quantity">Wind</label>
  <input type="number" id="winit" name="winit" min="0" max = "100" step="any" value= "17.5" required>  
  <label for="quantity">Nuclear</label>
  <input type="number" id="ninit" name="ninit" min="0" max = "100" step="any" value= "8.7" required>   
  <br>
  <label style="color:#41afdf">Change in Percent of Electricity Generated from Each Source Over Time (percent per year):</label>
  <br>                                                                                        
  <label for="quantity">Natural Gas (will be used as the "slack" value in our calculations to ensure distributions add up to 100%</label>
  <input type="number" id="ngd" name="ngd" min="-100" max = "100" step="any" value= "0" required>
  <br>
  <label for="quantity">Winterized Natural Gas</label>
  <input type="number" id="wid" name="wid" min="-100" max = "100" step="any" value= "0" required>
  <label for="quantity">Coal</label>
  <input type="number" id="cd" name="cd" min="-100" max = "100" step="any" value= "-1.89" required>   
  <label for="quantity">Solar</label>
  <input type="number" id="sod" name="sod" min="-100" max = "100" step="any" value= "0.0976" required>
  <label for="quantity">Wind</label>
  <input type="number" id="wd" name="wd" min="-100" max = "100" step="any" value= "1.29" required>  
  <label for="quantity">Nuclear</label>
  <input type="number" id="nd" name="nd" min="-100" max = "100" step="any" value= "-0.116" required>  
  <br>
  <label style="color:#41afdf">Change in the Change in Percent of Electricity Generated from Each Source Over Time (percent per year^2):</label>
  <br>                                                                                        
  <label for="quantity">Natural Gas (will be used as the "slack" value in our calculations to ensure distributions add up to 100%</label>
  <input type="number" id="ngd2" name="ngd2" min="-100" max = "100" step="any" value= "0" required>
  <br>
  <label for="quantity">Winterized Natural Gas</label>
  <input type="number" id="wid2" name="wid2" min="-100" max = "100" step="any" value= "0" required>
  <label for="quantity">Coal</label>
  <input type="number" id="cd2" name="cd2" min="-100" max = "100" step="any" value= "0" required>   
  <label for="quantity">Solar</label>
  <input type="number" id="sod2" name="sod2" min="-100" max = "100" step="any" value= "0" required>
  <label for="quantity">Wind</label>
  <input type="number" id="wd2" name="wd2" min="-100" max = "100" step="any" value= "0" required>  
  <label for="quantity">Nuclear</label>
  <input type="number" id="nd2" name="nd2" min="-100" max = "100" step="any" value= "0" required>                                                                                           
  <br>                                
  <label for="quantity"style="color:#41afdf">Percent Effectiveness of Winterized Natural Gas Pipes (0-100%)</label>
  <input type="number" id="eff" name="eff" min="0" max = "100" step="any" value= "83.5" required>                                                                              
  <input type="submit" id = "sub" value="Submit">
</form>

{% endblock %}
