{% extends "layout.html" %}
{% block navbar %}
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/userguide">How to Use the Calculator</a></li>
    <li><a href="/calculator" class="active">Calculator</a></li>     
</ul>
{% endblock%}
{% block title %}Calculator{% endblock %}
{% block content %}
Your data has been entered! Here are the graphs we made with it!
<p> Energy </p>
<img src="data:image/png;base64, {{ energy }" alt = "Annual energy production for the data you inputted into the calculator. The x-axis is the years upto and including the start year and end year you selected, and the y-axis is energy production for that year in megawatts per hour " >
<p> CO2 </p>
<img src="data:image/png;base64, {{ emm }}" >
<br>
Net carbon emissions: {{ net }} million metric tons
<p> Production </p>
<img src="data:image/png;base64, {{ prod }}" >
<p> Reliability </p>
<img src="data:image/png;base64, {{ rel }}" >
<p> Construction Costs </p>
<img src="data:image/png;base64, {{ construct }}" >
<p> Consumer Price </p>
<img src="data:image/png;base64, {{ consum }}" >
<br>
<a href="/calculator" class="button">Back to the Calculator!</a>
{% endblock %}
