{% extends "layout.html" %}
{% block navbar %}
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/userguide">How to Use the Calculator</a></li>
    <li><a href="/calculator">Calculator</a></li>
    <li><a href="/calculatorver2" class="active">Calculator, Alternate Version</a></li>        
</ul>
{% endblock%}
{% block title %}Calculator{% endblock %}
{% block content %}
Your data has been entered! I'm not doing anything with it and it's lost to the sands of time, but at least form submission works!
{{ data }}
{% endblock %}
